@import "tailwindcss";
@import "tw-animate-css";


:root {
  --background-color: rgb(255, 255, 255);
}

body {
  background-color: var(--background-color);
}

.wmde-markdown {
  background-color: white !important;
  font-family: inherit !important;
  font-size: inherit !important;
  color: inherit !important;
  padding: 0;
  box-shadow: none;
  border: none;
}